<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geolocator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align:center;">
    <ion-button (click)="getLocation()">Get Current Location</ion-button>
    <div *ngIf="latitude !== null && longitude !== null">
      <p><strong>Latitude:</strong> {{ latitude }}</p>
      <p><strong>Longitude:</strong> {{ longitude }}</p>
    </div>
    <div *ngIf="error">
      <ion-text color="danger">{{ error }}</ion-text>
    </div>
  </div>
</ion-content>